header
    .navegacion
        .container
            .row
                .col-md-4.col-6
                    a(href="/")
                        img(src="/img/logo.svg", alt="sitio logo")
                .col-md-8 
                    nav.nav.footer.justify-content-center.justify-content-md-end 
                        a.nav-link(href="/us") Nosotros       
                        a.nav-link(href="/travels") Viajes 
                        a.nav-link(href="/reviews") Valoraciones

                