extends ./layout/index

block content
    main.container.mt-5 
        .row.align-items-start
            .col-sm-6
                img(src="img/nosotros.jpg", alt="icono nosotros", class="img-fluid")
            .col-sm-6
                h1 #{page}
                blockquote Hola 
                p Adios 
                p Buenas
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Hola
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Hola
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Hola