extends ./layout/index

block content
    main.container.mt-5 
        .row.align-items-start
            .col-sm-6
                img(src="img/nosotros.jpg", alt="icono nosotros", class="img-fluid")
            .col-sm-6
                h1 #{page}
                blockquote ¿Quieres relajarte en una playa de ensueño? ¿Experimentar la cultura local en una ciudad emocionante? ¿Explorar la naturaleza en un destino exótico? Sea cual sea tu estilo de viaje, nosotros podemos ayudarte a hacerlo realidad. 
                p Ofrecemos una amplia variedad de opciones de viaje para adaptarnos a tus necesidades y presupuesto. Podemos ayudarte a organizar todo, desde vuelos y alojamiento hasta actividades y excursiones, para que puedas disfrutar de una experiencia de viaje sin preocupaciones. 
                p Además, contamos con un equipo de atención al cliente dedicado a brindarte un servicio excepcional antes, durante y después de tu viaje. ¡Estamos aquí para que tus sueños de viaje se conviertan en realidad!
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Máxima seguridad para nuestros clientes
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Los destinos más exóticos y relajantes
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Los precios y ofertas más competitivos